{% extends "layout.html" %}
{% block body %}

      <div class="tm-welcome-container tm-fixed-header tm-fixed-header-1">
        <div class="text-center">
          <p class="pt-5 px-3 tm-welcome-text tm-welcome-text-2 mb-1 text-white mx-auto">Suscribtion</p>                 
        </div>                
            </div>

      <!-- Header image -->
            <div id="tm-fixed-header-bg"></div> 
    </div>
<hr>

<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>You are successfully Suscribe this channel.</p>
  <hr>
  <p class="mb-0">Whenever you need , please Contact with me i will response you  withine a hrs.</p>
  <h1>Thank You</h1>
</div>
<hr> 
<script src="{{ url_for('static',filename='js/typed.min.js') }}" async defer></script>     
        </main>
{% endblock %}
        
